body {
	color: black;
	font-family: 'Roboto Condensed', sans-serif;
	margin:3%;

}

h1 {
	font-size:3em;
	margin-bottom:0;
}

h3 {
	font-size:1.5em;
}

h4 {
	font-size:1.5em;
	margin-top:2px;
	margin-bottom:5px;
	margin-left:20px;
}

.emoji {
	width:1em;

}

nav {
	background-color: #0BE0C6;
	font-size:1.3em;
	width:75%;
	border-style: solid;
	border-width:thin;
	padding:.75em;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
	display: inline;
	margin:6.5%;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover, a:active {
	color: #E542D0;
}

.cont {
	text-align:right;
}
/*main {
	margin-right:22%;
}*/

article {
	margin-top:2em;
	max-width:60%;
	/*border-style: solid;
	border-width:thin;
	/*background-color:#D3D3D3;*/
	background-color:white;
	padding:0;

}

aside {
	width:18%;
	/*border-style:solid;
	/*border-width:thin;*/
	float:right;
	margin-right:23%;

}

aside p {
	padding:.5em;
	font-size:.75em;
	font-style:italic;
}

code p {
	margin-top:0;
	margin-bottom:0;
}

.embedded_image {
	width: 50%;
	margin-left:auto;
	margin-right:auto;
}


#profile {
	width:100%;
	margin-top:0;
	border-style: solid;
	border-width:thin;
}

.blog_post {
	background-color:rgba(156, 169, 173, 0.3);
	padding:2em;
	margin-bottom:1em;
	width:85%;

}

#social_media {
	width:100%;
	margin-top:5em;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	bottom:0;

}


.social {
	height:2.5em;
	margin:1.5em;
}
